body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.logo {
  position: absolute;
  right: 0;
  top: 0;
}

.logo img {
  width: 128px;
}

.heading {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: larger;
}

#warning {
  color: red;
  width: 75%;
  font-family: Arial, Verdana, Helvetica, sans-serif !important;
}

#content {
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 3em;
}

.button-row {
  margin-top: 20px;
}

#search {
  margin-top: 2em;
}

#search form input {
  width: 80%;
  display: inline;
}

#search-results {
  margin-top: 20px;
}


#warning {
  color: red;
}

.ps-datepicker input {
  display: inline-block;
  width: 100%;
}

.ps-datepicker .datepicker {
  padding-left: 5px;
  padding-right: 5px;
}

.ps-datepicker .datepicker table thead .dow {
  padding-top: 5px;
  padding-bottom: 5px;
}

.blue {
  background: lightblue;
}
